.nav {
    display: flex;
    flex-direction: column;
    width: 15rem;
    min-height: 100vh;
    background-color: var(--bg);
    color: inherit;
    transition: var(--transition);
    left: 0;
    padding: 1rem;
    border-radius: 0 12px 12px 0;
    border-right: 1px solid var(--font-fade);
}

.header {
    display: flex;
    margin-block: 1rem;
    gap: 0.5rem;
    color: var(--font-color);
}